In [4]:
#pandas
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [10]:
import pandas as pd
emp=pd.Series(['udaya','Mathosh','krish','Aksaya'])
id=pd.Series([10,20,30,40])
frame={'Emp':emp,'ID':id}
result=pd.DataFrame(frame)
print("\nSeries to DataFrame\n")
print(result)

Series to DataFrame

       Emp  ID
0    udaya  10
1  Mathosh  20
2    krish  30
3   Aksaya  40

In [11]:
#excration
print("\n Extracting the second row \n")
print(result['Emp'])

 Extracting the second row

0      udaya
1    Mathosh
2      krish
3     Aksaya
Name: Emp, dtype: object

In [13]:
#adding a new colomn
result['Age']=pd.Series([20,18,30,50])
print(result)

       Emp  ID  Age
0    udaya  10   20
1  Mathosh  20   18
2    krish  30   30
3   Aksaya  40   50

In [14]:
#delete exist colomn
del result['Age']
print(result)

       Emp  ID
0    udaya  10
1  Mathosh  20
2    krish  30
3   Aksaya  40

In [17]:
#slicing 
print("Slice Row\n",result[1:3])

Slice Row
        Emp  ID
1  Mathosh  20
2    krish  30

In [18]:
#location
print("\n Extracting the second \n")
print(result.loc[1])

 Extracting the second

Emp    Mathosh
ID          20
Name: 1, dtype: object

In [20]:
#concadinatin
a2=pd.DataFrame([['udaya',10],['Mathosh',20]],columns=['Emp','ID'])
print("\n Adding new row values \n\n",pd.concat([result,a2]))

 Adding new row values

        Emp  ID
0    udaya  10
1  Mathosh  20
2    krish  30
3   Aksaya  40
0    udaya  10
1  Mathosh  20

In [23]:
#delete row
print(result.drop(2))

       Emp  ID
0    udaya  10
1  Mathosh  20
3   Aksaya  40

In [ ]:
d